<form autocomplete="off">
  {{> "everydayHeroes.advancement-controls"}}

  <div class="drop-target">
    <ol class="items-list">
      <li class="items-header flexrow"><h3 class="item-name">{{localize "DOCUMENT.Items"}}</h3></li>
      <ol class="item-list">
        {{#each configuration.pool}}
          <li class="item flexrow" data-item-uuid="{{this}}">
            <div class="item-name">{{{everydayHeroes-linkForUUID this}}}</div>
            <div class="item-controls flexrow">
              <a class="item-control item-action" data-action="delete" data-tooltip="DND5E.ItemDelete">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
        {{/each}}
      </ol>
    </ol>

    <p class="hint centered">{{localize "EH.Advancement.Config.DropHint"}}</p>
  </div>
</form>
