<form autocomplete="off">
  <section>
    {{> "everydayHeroes.advancement-controls"}}
  </section>

  <section class="items drop-target">
    <h3 class="striped">
      <span class="left stripes"></span>
      <span class="center">{{localize "DOCUMENT.Items"}}</span>
      <span class="right stripes"></span>
    </h3>
    <ol>
      {{#each configuration.pool}}
        <li data-item-uuid="{{this}}">
          <div>{{{everydayHeroes-linkForUUID this}}}</div>
          <fieldset>
            <a data-action="delete" data-tooltip="Delete"><i class="fas fa-trash"></i></a>
          </fieldset>
        </li>
      {{/each}}
    </ol>

    <p class="hint centered">{{localize "EH.Advancement.Config.DropHint"}}</p>
  </section>
</form>
