@import "./styles/variables.css";
@import "./styles/actor.css";
@import "./styles/item.css";

.everyday-heroes.sheet {
	container-type: size;
	overflow: clip;
	background: var(--eh-sheet-window-background);
	backdrop-filter: var(--eh-sheet-backdrop-filter);
	--webkit-backdrop-filter: var(--eh-sheet-backdrop-filter);
}
.everyday-heroes.sheet .window-header {
	background-color: var(--eh-background-color-black);
}
.everyday-heroes.sheet .window-content {
	background: var(--eh-sheet-content-background);
}

.everyday-heroes.sheet .stripes {
	background-image: url("artwork/interface/stripes.svg");
	background-size: auto 100%;
}
.everyday-heroes.sheet .stripes.left {
	background-position-x: right;
}
.everyday-heroes.sheet .stripes.right {
	background-position-x: left;
}
