.everyday-heroes-compendium h3 {
	margin-block-start: 0.5em;
}

figure.company-logo {
	display: flex;
}
figure.company-logo img {
	max-width: 50%;
	border: none;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Journals                                 */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

:is(.journal-entry-page, .everyday-heroes.sheet .editor) {
	h1, h2, h3, h4:not(.window-title) {
		font-weight: bold;
		text-transform: uppercase;

		strong {
			color: var(--eh-text-color-red);
			font-weight: bolder;
		}
	}
	:is(h1, h2, h3, h4:not(.window-title), h5):not(:first-child) {
		margin-block-start: 1rem;
	}
	h1, h2 {
		border: none;
		color: var(--eh-text-color-red);
	}
	h1 {
		font-size: var(--font-size-48);
		text-align: center;
	}
	h2 {
		font-size: var(--font-size-32);
	}
	h3 {
		border-block-end: 4px solid var(--eh-border-color-strong);
		font-size: var(--font-size-24);
	}
	h4:not(.window-title) {
		font-size: var(--font-size-18);
	}
	h5 {
		margin-block-end: 0;
		text-transform: uppercase;
	}
	strong.ability {
		color: var(--eh-text-color-red);
		text-transform: uppercase;
	}

	p:empty:has(+ .content-embed), .content-embed + p:empty {
		display: none;
	}

	ol li::marker {
		font-size: 1.1em;
		font-weight: bold;
		color: var(--eh-text-color-red);
	}
	ol.alphabetic {
		list-style-type: upper-alpha;
	}

	.callout {
		margin: 1em 2em;
		border: 3px solid var(--eh-border-color-strong);
		border-radius: 40px;
		padding: 2em;

		h5 {
			margin-block: 0.25em;
			font-size: var(--font-size-16);
			text-align: center;
			text-transform: uppercase;
		}
	}

	.read-aloud {
		margin: 0;
		border: 4px double var(--eh-border-color-read-aloud);
		padding: 0.5em;
		background-color: var(--eh-background-color-read-aloud);
		font-style: normal;

		& + .read-aloud {
			margin-block-start: 0.5em;
		}
		h5 {
			margin-block-start: 0;
			margin-inline: -0.5em;
			border-block-end: 4px double var(--eh-border-color-read-aloud);
			padding-inline: 0.5em;
			font-size: unset;
		}
		p:first-child {
			margin-block-start: 0;
		}
		p:last-child {
			margin-block-end: 0;
		}
	}

	.journal-sheet strong.archetype {
		color: var(--eh-text-color-red);
		text-transform: uppercase;
	}

	q.character {
		color: var(--eh-text-color-character-quote);
		font-style: italic;
	}

	p.header q, q.header {
		font-family: serif;
		font-size: var(--font-size-16);
		font-style: italic;
		font-weight: 400;
	}

	a:is(.content-link, .inline-roll), .roll-link a {
		background: transparent;
		border: none;
		text-decoration: underline currentcolor;
		text-underline-offset: 2px;

		> i {
			color: currentcolor;
			opacity: 75%;
			transition: opacity 250ms ease;
		}

		&:hover {
			text-shadow: none;
			> i { opacity: 1; }
		}
	}

	.roll-link a[data-action="request"] {
		margin-inline-start: 10px;
		text-decoration: none;

		&::before {
			content: "\f105";
			font-family: var(--font-awesome);
			font-weight: bold;
			margin: 0 4px 0 -6px;
			font-size: var(--font-size-10);
			color: var(--color-text-light-6);
		}
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Utility Methods                          */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	.align-center { text-align: center; }
	.align-right { text-align: end; }
	.align-left { text-align: start; }

	.small-caps { font-variant: small-caps; }

	.content-embed {
		&.left {
			float: inline-start;
			margin-inline-end: 10px;
		}
		&.right {
			float: inline-end;
			margin-inline-start: 10px;
		}
		&.center {
			display: flex;
			justify-content: center;
		}
		img { border: none; }
		&.half img { max-width: 400px; }
		&.third img { max-width: 300px; }
		&.quarter img { max-width: 200px; }
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Special Headers                          */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	h3.alt {
		border-block-end: 1px solid currentcolor;
		color: var(--eh-text-color-black);

		strong {
			float: right;
			color: inherit;
		}
	}

	h3.arrowed {
		border: none;
	}
	h3.arrowed::before {
		content: "◀︎";
		display: inline-block;
		position: relative;
		top: -0.4em;
		padding-inline-end: 0.65em;
		font-size: 0.5em;
	}
	h3.arrowed::after {
		content: "▶︎";
		display: inline-block;
		position: relative;
		top: -0.15em;
		padding-inline-start: 0.5em;
		font-size: 0.65em;
	}

	:is(h3, h4).rounded {
		margin-block-start: 0.5em;
		border: none;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
		color: var(--eh-text-color-white);
		background-color: var(--eh-background-color-blue);
		line-height: 1.5em;
		text-align: center;
	}

	h4.alt {
		border-block-end: 1px solid currentcolor;
		color: var(--eh-background-color-blue);
		
		strong {
			float: right;
			color: inherit;
		}
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Table                                    */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	table {
		caption {
			margin-block-end: 0.5em;
			color: var(--eh-text-color-red);
			font-size: var(--font-size-20);
			font-weight: bold;
			text-transform: uppercase;
		}
		thead {
			background: none;
		}
		th {
			color: var(--eh-text-color-black);
			font-weight: bold;
			text-align: center;
			text-shadow: none;
			text-transform: uppercase;
		}
	}
	table.full {
		border: none;
		background: none;

		td, th {
			padding: 0.5em;
		}
		tr:not(:last-of-type) {
			border-block-end: 1px solid var(--eh-border-color-strong);
		}
		tbody {
			tr.dark, tr:not(.dark, .light):nth-of-type(odd) {
				background-color: rgba(214, 228, 229, 0.5);
			}
			tr.light, tr:not(.dark, .light):nth-of-type(even) {
				background-color: rgba(255, 255, 255, 0.5);
			}
			th[colspan] {
				padding-block: 1em;
				background-color: rgba(247, 241, 193, 0.5);
			}
		}
		&.internal-borders {
			thead { border: none; }
			tr:not(:last-of-type) { border-block: none; }
			:is(th, td):not(:last-child) { border-inline-end: 4px double var(--eh-border-color-weak); }
		}
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Callout Tables                           */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	table:is(.yellow, .blue, .red) {
		width: calc(100% - 6em);
		overflow: clip;
		margin: 3em;
		border: none;
		border-collapse: separate;
		border-radius: 40px;
		border-spacing: 0;
		background: none;
	
		.narrow {
			width: calc(100% - 16em);
			margin-inline: 8em;
		}
		.wide {
			width: calc(100% - 2em);
			margin-inline: 1em;
		}
	
		thead {
			background: none;
		}
		:is(td, th) {
			border: none;
		}
		:is(thead, tbody) tr:first-child :is(td, th) {
			border-block-start: 4px solid var(--eh-border-color-strong);
			padding-block-start: 1em;
		}
		thead ~ tbody tr:first-child :is(td, th) {
			border-block-start: none;
			padding-block-start: 0;
		}
		:is(thead, tbody) tr :is(td, th):first-child {
			border-inline-start: 4px solid var(--eh-border-color-strong);
			padding-inline-start: 2em;
		}
		:is(thead, tbody) tr :is(td, th):last-child {
			border-inline-end: 4px solid var(--eh-border-color-strong);
			padding-inline-end: 2em;
		}
		:is(thead, tbody) tr:first-child :is(td, th):first-child {
			border-top-left-radius: 40px;
		}
		thead ~ tbody tr:first-child :is(td, th):first-child {
			border-top-left-radius: 0;
		}
		:is(thead, tbody) tr:first-child :is(td, th):last-child {
			border-top-right-radius: 40px;
		}
		thead ~ tbody tr:first-child :is(td, th):last-child {
			border-top-right-radius: 0;
		}
		tbody tr:last-child :is(td, th) {
			border-block-end: 4px solid var(--eh-border-color-strong);
			padding-block-end: 1em;
		}
		tbody tr :is(td, th):first-child {
			border-inline-start: 4px solid var(--eh-border-color-strong);
			padding-inline-start: 2em;
		}
		tbody tr :is(td, th):last-child {
			border-inline-end: 4px solid var(--eh-border-color-strong);
			padding-inline-end: 2em;
		}
		tbody tr:last-child :is(td, th):first-child {
			border-bottom-left-radius: 40px;
		}
		tbody tr:last-child :is(td, th):last-child {
			border-bottom-right-radius: 40px;
		}
		th, td {
			padding-inline: 0.5em;
			&:not(:last-child) { border-inline-end: 4px double var(--eh-border-color-weak); }
		}
		table:is(.yellow, .blue, .red).narrow td {
			text-align: center;
		}
	}
}

ul {
	list-style-type: "▸ ";
}
.journal-entry-page ul.multi-column-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.everyday-heroes.sheet ul.multi-column-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
