.table-of-contents {
	container-type: size;
	background: rgb(221, 219, 209);

	&:not(.minimized, .minimizing, .maximizing) {
		min-height: 600px;
		min-width: 450px;
	}

	.window-header {
		color: var(--color-dark-1);
		.header-control { color: inherit; }
	}

	article {
		font-family: var(--font-sans);
		overflow: hidden;

		.contents {
			width: 100%;
			padding: 1em;
		}

		ol {
			list-style-type: none;
			margin: 0;
			padding: 0;

			ol:not(.context-items) {
				column-count: 2;
				gap: 2rem;
				@container (width < 550px) { column-count: 1; }
			}
		}

		:is(h1, h2, h3, h4, h5) {
			font-family: inherit;
			text-transform: uppercase;
		}
		:is(h1, h2, h3) { font-weight: bold; }
		:is(h4, h5) { font-weight: normal; }
		:is(h1, h2, h3.alt) { color: var(--eh-text-color-red); }
		:is(h3, h4, h5) { color: var(--eh-text-color-black); }
		h1 {
			border: none;
			font-size: var(--font-size-48);
			text-align: center;
		}
		h2 {
			margin-block-end: 1rem;
			border-block-end: 2px solid var(--eh-text-color-red);
			font-size: var(--font-size-28);
			line-height: 0.9em;
		}
		li:not(:first-child) > h2, li:not(:first-child) > div > h2 { margin-block-start: 1rem; }
		h3 {
			margin-block-end: 10px;
			border-block-end: 2px dashed var(--eh-border-color-strong);
			font-size: var(--font-size-24);
			line-height: 0.9em;
			&.sublevel {
				margin-inline-start: .5rem;
				border-block-end-style: dotted;
				color: color-mix(in oklab, black, transparent 20%);
				font-size: var(--font-size-20);
			}
		}
		li:not(:first-child) > h3, li:not(:first-child) > div > h3 { margin-block-start: 1rem; }
		h3.alt { border: none; }
		h4 {
			margin-block: 0;
			margin-inline-start: 1rem;
			font-size: var(--font-size-18);
		}
		h5 {
			margin-block: 0.25rem;
			margin-inline-start: 2rem;
			font-size: var(--font-size-14);
			font-weight: normal;
		}

		[data-level="3"] { break-after: avoid; }
	}
}
