<form autocomplete="off">
	<section>
		<h2 class="striped">
			<span class="left stripes"></span>
			<span class="center">{{localize "EH.Action.Type.CinematicAction[other]"}}</span>
			<span class="right stripes"></span>
		</h2>
		<fieldset>
			<label>{{localize "EH.CinematicAction.Max.Label"}}</label>
			<input type="number" name="system.details.cinematicActions.max" value="{{source.details.cinematicActions.max}}">
		</fieldset>
	</section>
</form>
