@import "./config.css";
@import "./inventory.css";

@import "./hero.css";
@import "./npc.css";

.everyday-heroes.sheet [data-tab="biography"] img {
	border: none;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Editing Mode                             */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.sheet form nav a[data-action="toggle-editing-mode"] {
	flex: 0 0 4em;
	padding-inline: 1em;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Limited Sheets                           */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes:is(.npc, .limited).sheet form > header {
	display: flex;
	overflow: clip;
	flex-wrap: wrap;
	gap: 0.5em;
	border: 1px solid var(--eh-border-color-strong);
	border-radius: 10px;
	padding: 0.5em;
	background-color: var(--eh-background-color-light);
}
.everyday-heroes:is(.npc, .limited).sheet form > header figure {
	overflow: clip;
	flex-shrink: 0;
	width: 2em;
	height: 2em;
	margin: 0;
	border-radius: 5px;
	background-color: var(--eh-background-color-dark);
	background-size: contain;
	background-repeat: no-repeat;
}
.everyday-heroes:is(.npc, .limited).sheet form > header figure img {
	border: none;
}
.everyday-heroes:is(.npc, .limited).sheet form > header fieldset {
	display: flex;
	gap: 0.25em;
	align-items: center;
}
.everyday-heroes:is(.npc, .limited).sheet form > header fieldset.name {
	flex-grow: 1;
}

.everyday-heroes.limited.sheet [data-tab="biography"] > section {
	min-height: 20em;
	margin-block-start: 0.5em;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Proficiency Selector                     */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.sheet [data-action="cycle-proficiency"]:not(.disabled) {
	cursor: pointer;
}
.everyday-heroes.sheet [data-action="cycle-proficiency"]:not(.disabled):hover .selector-icon {
	filter: drop-shadow(0 0 3px var(--color-shadow-primary));
}
.everyday-heroes.sheet [data-action="cycle-proficiency"] .selector-icon {
	min-width: 1.25rem;
	min-height: 1rem;
	width: 100%;
	background-size: 1.125rem;
	background-repeat: no-repeat;
	background-position-x: center;
}
