.hero.sheet {
	label [data-action] {
		text-decoration: underline;
		text-decoration-color: var(--eh-text-color-underline);
		text-decoration-style: dashed;
	}

	[data-tab="details"] {
		> section {
			display: grid;
			grid-template-areas:
				"header header"
				"abilities-and-skills attributes";
			gap: 1em;

			@container (width < 700px) {
				grid-template-areas:
					"header"
					"abilities-and-skills"
					"attributes";
			}
		}

		[data-action="config"].offshoot {
			display: flex;
			align-items: center;
			margin-block-start: 2px;
			padding-inline: 0.25em;
			border: 1px solid var(--eh-border-color-strong);
			border-radius: 0 5px 5px 0;
			background-color: var(--eh-background-color-mid);
		}

		/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
		/*  Hero ID                                  */
		/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

		.hero-id {
			grid-area: header;

			display: grid;
			overflow: hidden;
			grid-template-areas: "image details";
			grid-template-columns: 150px auto;

			border: 1px solid var(--eh-border-color-strong);
			border-radius: 20px;
			background-color: var(--eh-background-color-light);

			> div.image {
				grid-area: image;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 150px;
				min-height: 150px;
				background-color: var(--eh-border-color-strong);

				img {
					border: none;
					height: 100%;
					object-fit: cover;
					object-position: center top;
				}
			}
			> div:not(.image) {
				grid-area: details;
				display: flex;
				flex-wrap: wrap;
				margin-inline-start: 1em;
				padding-block-end: 0.5em;
			}
			fieldset {
				min-block-size: 28px;
				display: flex;
				align-items: end;
				border-block-end: 1px solid var(--eh-border-color-strong);

				&.hero-id__100 { flex: 1 0 100%; }
				&.hero-id__50, { flex: 1 0 50%; }
				&.hero-id__25 { flex: 1 0 25%; }
		
				@container (width < 650px) {
					&.hero-id__50 { flex: 1 0 100%; }
				}

				> label {
					display: flex;
					font-weight: bold;
					text-transform: uppercase;
				}
				> :not(label) {
					flex-grow: 1;
					border: none;
					background: none;
					margin-inline: 0.5em;
					padding: 0;
					padding-inline-start: 0.5em;
					font-size: var(--font-size-16);
				}
				> a {
					flex-grow: unset;
					&:has(+ a) {
						margin-inline-end: 0;
						&::after { content: ","; }
					}
					& + a { margin-inline-start: 0; }
				}
				> input {
					margin-block-start: -0.3em;
					padding-block-start: 0.3em;
				}
				> .tag-input input {
					background: none;
				}

				[data-action="select-concept"] {
					font-style: italic;
					font-weight: bold;
				}
			}
		}

		/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
		/*  Abilities & Skills                       */
		/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

		.abilities-and-skills {
			grid-area: abilities-and-skills;
			display: grid;
			grid-template-areas: "abilities skills";
			align-items: start;
			border-radius: 0 20px 20px 0;
			margin-inline-start: 1.5em;
		}

		.abilities {
			grid-area: abilities;
			display: grid;
			z-index: 1;
			grid-template-columns: 1.5em max-content auto max-content;
			margin-inline-start: -1.5em;

			.ability {
				grid-column: 1 / 4;
				display: grid;
				grid-template-columns: subgrid;
				margin-inline-end: -8px;
				border-inline-end: 8px solid var(--eh-border-color-strong);

				@supports not (grid-template-columns: subgrid) {
					grid-template-columns: 1.5em max-content auto max-content;
				}

				&:last-child {
					border-bottom-right-radius: 15px;

					> div.contents {
						border-block-end: 8px solid var(--eh-border-color-strong);
						border-bottom-left-radius: 15px;
						border-bottom-right-radius: 5px;
					}
				}

				> div.angle {
					grid-column: 1;
					z-index: 1;
					width: 2em;
					height: calc(100% + 0.5em);
					background-color: var(--eh-background-color-black);
					transform: skew(-20deg) translateX(1em);
				}

				label {
					grid-column: 1 / 4;
					display: flex;
					align-items: center;
					justify-content: space-between;
					transform: skew(-16deg);
					z-index: 2;
					margin-inline: 1em -1em;
					padding-block: 0.25em;
					padding-inline: 1em 1.5em;
					font-size: var(--font-size-18);
					font-weight: bold;
					text-transform: uppercase;
					background-color: var(--eh-border-color-strong);
					color: var(--color-text-light-0);

					> * {
						display: block;
						transform: skew(16deg);
					}
				}

				.modifier {
					grid-column: 1;
					aspect-ratio: 1;
					z-index: 4;
					width: calc(2em + 8px);
					margin-block: -4px;
					border: 4px solid var(--eh-border-color-strong);
					border-radius: 50%;
					background-color: var(--eh-background-color-white);
					font-size: var(--font-size-18);
					text-align: center;
					line-height: calc(1.5em + 8px);
				}

				> div.contents {
					grid-column: 2 / 4;
					display: grid;
					grid-template-columns: subgrid;
					padding-inline-start: 1.5em;
					background-color: var(--eh-background-color-white);
	
					.value {
						grid-column: 1;
						width: 4em;
						height: 2em;
						min-width: unset;
						border: none;
						padding-left: 0.5em;
						background: none;
						font-size: var(--font-size-18);
						text-align: center;
					}
					.save {
						grid-column: 2;
						display: flex;
						flex-wrap: wrap;
						min-width: 2em;
						border-inline-start: 1px solid var(--eh-border-color-weak);
	
						> * {
							flex-basis: 100%;
							text-align: center;
						}
					}
				}
			}
		}

		.skills {
			grid-area: skills;
			z-index: 2;
			border: 8px solid var(--eh-border-color-strong);
			border-radius: 1em;
			background-color: var(--eh-background-color-white);

			table {
				margin: 0;
				border: none;

				td {
					padding-block: 1px;
					padding-inline: 0;
				}
			}

			.skill {
				padding-inline: 0.5em;

				&:not(:last-of-type) {
					border-bottom: 1px solid var(--eh-border-color-weak);
				}
				&:first-of-type > * {
					padding-block-start: 0.25em;
				}
				&:last-of-type > * {
					padding-block-end: 0.25em;
				}

				.label {
					display: flex;
					justify-content: space-between;
					border-inline-end: 1px solid var(--eh-border-color-weak);
					padding-inline: 0.5em 0.25em;

					[data-action] {
						text-decoration: none;
					}
				}
				.abbreviation {
					padding-inline: 0.25em;
					font-size: var(--font-size-11);
					text-transform: uppercase;
				}
				[data-action="cycle-proficiency"] {
					height: 1rem;
				}
				.modifier {
					text-align: right;
					padding-inline-end: 0.5em;
				}
			}
		}

		.attributes {
			grid-area: attributes;

			/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
			/*  Health                                   */
			/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

			.health {
				display: grid;
				overflow: clip;
				grid-template-areas: "hp death-saves config";

				.hp {
					grid-area: hp;
					display: grid;
					grid-template-columns: 2fr 2fr 1fr;
					grid-template-areas:
						"max-hp current-hp temp-hp"
						"hit-dice total-dmg temp-hp";
					border: 2px solid var(--eh-border-color-strong);
					border-radius: 15px;
					background-color: var(--eh-background-color-white);
					color: var(--eh-text-color-black);
					z-index: 2;

					fieldset {
						padding: 0.25em;
						display: flex;
						gap: 0.5em;
						flex-direction: column;

						&.max-hp { grid-area: max-hp; }
						&.current-hp { grid-area: current-hp; }
						&.max-hp, &.current-hp { border-block-end: 1px solid var(--eh-border-color-weak); }
						&.temp-hp {
							grid-area: temp-hp;
							input { padding-inline: 0; }
						}
						&.max-hp, &.current-hp, &.temp-hp { flex-direction: column; }
						&.hit-dice { grid-area: hit-dice; }
						&.total-dmg { grid-area: total-dmg; }
						&.max-hp, &.current-hp, &.hit-dice, &.total-dmg {
							border-inline-end: 1px solid var(--eh-border-color-weak);
						}
					}
				}
				&:not(.alive) .hp {
					grid-template-columns: 2fr 2fr;
					grid-template-areas:
						"max-hp current-hp"
						"hit-dice total-dmg";
				}
				.death-saves {
					grid-area: death-saves;
					margin-inline-start: -1em;
					padding: 0.25em 0.5em;
					padding-inline-start: 1.5em;
					background-color: var(--eh-background-color-black);
					color: var(--eh-text-color-white);
					z-index: 1;
				}

				label {
					text-align: center;
					line-height: 0.8em;
					padding-block: 0.25em;
				}
				:not(:is(.hit-dice, .total-dmg)) label {
					display: block;
				}
				:is(fieldset:is(.max-hp, .current-hp), div.death-saves) > label {
					font-weight: bold;
					text-transform: uppercase;
				}

				:is(span, input) {
					display: block;
					border: none;
					background: none;
					font-size: var(--font-size-24);
					text-align: center;
				}

				[data-action="config"].offshoot {
					margin-block: 15px;
					margin-inline-start: -1px;
				}
			}

			/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
			/*  Summary & Resources                      */
			/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

			:is(.summary, .resources) {
				display: grid;
				align-items: stretch;
				margin-block-start: 1em;
				grid-template-columns: repeat(4, 1fr);
				color: var(--eh-text-color-black);

				fieldset {
					display: grid;
					margin-block-end: -2px;
					margin-inline-end: -2px;
					border: 2px solid var(--eh-border-color-strong);
					align-content: space-between;
					justify-items: stretch;
					padding: 0.25em;
					background-color: var(--eh-background-color-white);
					text-align: center;

					label {
						display: block;
						font-weight: bold;
						text-transform: uppercase;
						line-height: 0.8em;
					}
					span { font-size: var(--font-size-24); }
				}
			}

			.summary {
				grid-template-columns: repeat(4, 1fr) min-content;
			}

			.resources fieldset {
				aspect-ratio: 1.25;
				background-size: 90% auto;
				background-repeat: no-repeat;
				background-position: center 1.5em;

				&.inspiration {
					align-content: stretch;
					.fields { justify-content: center; }
				}

				span.die { font-size: var(--font-size-18); }
			}
		}
	}
}


