.hero.sheet [data-tab="persona"] {
	> section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5em;
		align-items: flex-start;

		> :is(.hero-id, .persona) {
			overflow: clip;
			border: 1px solid var(--eh-border-color-strong);
			border-radius: 20px;
			background-color: var(--eh-background-color-light);
		}
	}

	@container (width < 700px) {
		> section {
			grid-template-columns: unset;
		}
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Hero ID                                  */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	.hero-id {
		display: grid;

		> figure {
			margin: 0;
			aspect-ratio: 1;
			background-size: cover;
			background-repeat: no-repeat;
		}
		> div {
			display: flex;
			flex-wrap: wrap;
			gap: 0.5em;
			padding: 1em;
			background-color: var(--eh-background-color-mid);
		}

		fieldset {
			display: flex;
			align-items: center;

			&:is(.name, .marital-status, .pronouns, .ancestry, .role) { flex: 1 0 100%; }
			&:is(.weight, .height, .hair) { flex: 1 0 60%; }
			&:is(.skin, .eyes, .age) { flex: 1 0 30%; }
			&.name { order: 1 }
			&.weight { order: 2 }
			&.height { order: 4 }
			&.hair { order: 6 }
			&.skin { order: 3 }
			&.eyes { order: 5 }
			&.age { order: 7 }
			&.marital-status { order: 8 }
			&.pronouns { order: 9 }
			&.ancestry { order: 10 }
			&.role { order: 11 }

			label {
				padding-inline-end: 0.5em;
				font-weight: bold;
				text-transform: uppercase;
				white-space: nowrap;
			}
			input {
				min-width: 4em;
				border: none;
				border-radius: 5px;
				background-color: var(--eh-background-color-white);
			}
		}
	}
	
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Persona                                  */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	
	.persona {
		padding: 0.5em;
		padding-block-end: 1em;

		fieldset {
			> label {
				display: flex;
				margin: 0.15em -0.5em;
				padding: 0.1em 0.5em;

				&:hover { background-color: var(--eh-background-color-mid); }
				span {
					display: block;
					flex-grow: 1;
				}
				a { float: right; }
			}
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			li {
				display: flex;
				align-items: center;
				gap: 0.5em;
				margin-block-end: 0.5em;
			}
		}
	}
}
