.hero.sheet [data-tab="details"] > section {
	display: grid;
	grid-template-areas:
		"header header"
		"abilities-and-skills attributes";
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Hero ID                                  */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.hero.sheet [data-tab="details"] .hero-id {
	grid-area: header;

	display: grid;
	overflow: hidden;
	grid-template-areas: "image details";

	margin-block-end: 0.5em;
	border: 1px solid var(--eh-border-color-strong);
	border-radius: 20px;
	background-color: var(--eh-background-color-light);
}

.hero.sheet [data-tab="details"] .hero-id > div.image {
	grid-area: image;
	max-height: 150px;
	aspect-ratio: 1;
}
.hero.sheet [data-tab="details"] .hero-id > div.image img {
	height: 100%;
	aspect-ratio: 1;
}
.hero.sheet [data-tab="details"] .hero-id > div:not(.image) {
	grid-area: details;
	display: flex;
	flex-wrap: wrap;
	margin-inline-start: 1em;
	padding-block-end: 0.5em;
}
.hero.sheet [data-tab="details"] .hero-id fieldset {
	display: flex;
	align-items: end;
	border-block-end: 1px solid var(--eh-border-color-strong);
}
.hero.sheet [data-tab="details"] .hero-id fieldset:is(.name, .languages) {
	flex: 1 0 100%;
}
.hero.sheet [data-tab="details"] .hero-id fieldset:is(.class, .archetype, .background, .profession) {
	flex: 1 0 50%;
}
.hero.sheet [data-tab="details"] .hero-id fieldset:is(.level, .wealth, .speed) {
	flex: 1 0 33%;
}
.hero.sheet [data-tab="details"] .hero-id fieldset > label {
	font-weight: bold;
	text-transform: uppercase;
}
.hero.sheet [data-tab="details"] .hero-id fieldset > :not(label) {
	flex-grow: 1;
	border: none;
	background: none;
	margin-inline: 0.5em;
	padding: 0;
	padding-inline-start: 0.5em;
	font-size: var(--font-size-16);
}
.hero.sheet [data-tab="details"] .hero-id fieldset > input {
	margin-block-start: -0.3em;
	padding-block-start: 0.3em;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Abilities & Skills                       */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.hero.sheet [data-tab="details"] .abilities-and-skills {
	grid-area: abilities-and-skills;
	display: grid;
	grid-template-areas: "abilities skills";
	align-items: start;
	border-radius: 0 20px 20px 0;
	margin-inline-start: 1.5em;
}

.hero.sheet [data-tab="details"] .abilities {
	grid-area: abilities;
	display: grid;
	z-index: 1;
	grid-template-columns: 1.5em max-content auto max-content;
	margin-inline-start: -1.5em;
}
.hero.sheet [data-tab="details"] .abilities .ability {
	grid-column: 1 / 4;
	display: grid;
	grid-template-columns: subgrid;
	margin-inline-end: -8px;
	border-inline-end: 8px solid var(--eh-border-color-strong);
}
.hero.sheet [data-tab="details"] .abilities .ability:first-child > label {
	margin-inline-end: -1em;
	padding-inline-end: 1.25em;
}
.hero.sheet [data-tab="details"] .abilities .ability:last-child {
	border-bottom-right-radius: 15px;
}
.hero.sheet [data-tab="details"] .abilities .ability:last-child > div.contents {
	border-block-end: 8px solid var(--eh-border-color-strong);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 5px;
}
.hero.sheet [data-tab="details"] .abilities .ability > div.angle {
	grid-column: 1;
	z-index: 1;
	width: 2em;
	height: calc(100% + 0.5em);
	background-color: var(--eh-background-color-black);
	transform: skew(-20deg) translateX(1em);
}
.hero.sheet [data-tab="details"] .abilities .ability label {
	grid-column: 2 / 4;
	z-index: 2;
	padding: 0.25em 0.5em;
	font-size: var(--font-size-18);
	font-weight: bold;
	text-transform: uppercase;
	background-color: var(--eh-border-color-strong);
	color: var(--color-text-light-0);
}
.hero.sheet [data-tab="details"] .abilities .ability .modifier {
	grid-column: 1;
	aspect-ratio: 1;
	z-index: 4;
	width: calc(2em + 8px);
	margin-block: -4px;
	border: 4px solid var(--eh-border-color-strong);
	border-radius: 50%;
	background-color: var(--eh-background-color-white);
	font-size: var(--font-size-18);
	text-align: center;
	line-height: calc(1.5em + 8px);
}
.hero.sheet [data-tab="details"] .abilities .ability > div.contents {
	grid-column: 2 / 4;
	display: grid;
	grid-template-columns: subgrid;
	padding-inline-start: 1.5em;
	background-color: var(--eh-background-color-white);
}
.hero.sheet [data-tab="details"] .abilities .ability > div.contents .value {
	grid-column: 1;
	width: 4em;
	height: 2em;
	min-width: unset;
	border: none;
	padding-left: 0.5em;
	background: none;
	font-size: var(--font-size-18);
	text-align: center;
}
.hero.sheet [data-tab="details"] .abilities .ability > div.contents .save {
	grid-column: 2;
	display: flex;
	flex-wrap: wrap;
	min-width: 2em;
	border-inline-start: 1px solid var(--eh-border-color-weak);
}
.hero.sheet [data-tab="details"] .abilities .ability > div.contents .save > * {
	flex-basis: 100%;
	text-align: center;
}

.hero.sheet [data-tab="details"] .skills {
	grid-area: skills;
	display: grid;
	z-index: 2;
	grid-template-columns: auto max-content max-content max-content;
	border: 8px solid var(--eh-border-color-strong);
	border-radius: 1em;
	background-color: var(--eh-background-color-white);
}
.hero.sheet [data-tab="details"] .skills .skill {
	grid-column: 1 / 5;
	display: grid;
	grid-template-columns: subgrid;
	align-items: first baseline;
	padding-inline: 0.5em;
}
.hero.sheet [data-tab="details"] .skills .skill:not(:last-of-type) {
	border-bottom: 1px solid var(--eh-border-color-weak);
}
.hero.sheet [data-tab="details"] .skills .skill label {
	grid-column: 1;
	height: 100%;
	border-inline-end: 1px solid var(--eh-border-color-weak);
	padding-inline-end: 0.25em;
}
.hero.sheet [data-tab="details"] .skills .skill:first-of-type > * {
	padding-block-start: 0.25em;
}
.hero.sheet [data-tab="details"] .skills .skill:last-of-type > * {
	padding-block-end: 0.25em;
}
.hero.sheet [data-tab="details"] .skills .skill .abbreviation {
	grid-column: 2;
	padding-inline: 0.25em;
	font-size: var(--font-size-11);
	text-transform: uppercase;
}
.hero.sheet [data-tab="details"] .skills .skill [data-action="cycle-proficiency"] {
	grid-column: 3;
	height: 1rem;
}
.hero.sheet [data-tab="details"] .skills .skill .modifier {
	grid-column: 4;
	text-align: right;
}

.hero.sheet [data-tab="details"] [data-action="cycle-proficiency"] {
	cursor: pointer;
}
.hero.sheet [data-tab="details"] [data-action="cycle-proficiency"]:hover .selector-icon {
	filter: drop-shadow(0 0 3px var(--color-shadow-primary));
}
.hero.sheet [data-tab="details"] [data-action="cycle-proficiency"] .selector-icon {
	min-width: 1.25rem;
	min-height: 1rem;
	width: 100%;
	background-size: 1.125rem;
	background-repeat: no-repeat;
	background-position-x: center;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Health                                   */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.hero.sheet [data-tab="details"] .attributes {
	grid-area: attributes;
	margin-inline-start: 1em;
}

.hero.sheet [data-tab="details"] .attributes .health {
	display: grid;
	overflow: clip;
	grid-template-areas: "hp death-saves";
}
.hero.sheet [data-tab="details"] .attributes .health .hp {
	grid-area: hp;
	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	grid-template-areas:
		"max-hp current-hp temp-hp"
		"hit-dice total-dmg temp-hp";
	border: 2px solid var(--eh-border-color-strong);
	border-radius: 15px;
	background-color: var(--eh-background-color-white);
	color: var(--eh-text-color-black);
	z-index: 2;
}
.hero.sheet [data-tab="details"] .attributes .health .death-saves {
	grid-area: death-saves;
	margin-inline-start: -1em;
	padding: 0.25em 0.5em;
	padding-inline-start: 1.5em;
	background-color: var(--eh-background-color-black);
	color: var(--eh-text-color-white);
	z-index: 1;
}
.hero.sheet [data-tab="details"] .attributes .health .hp fieldset {
	padding: 0.25em;
}
.hero.sheet [data-tab="details"] .attributes .health .hp fieldset.max-hp {
	grid-area: max-hp;
}
.hero.sheet [data-tab="details"] .attributes .health .hp fieldset.current-hp {
	grid-area: current-hp;
}
.hero.sheet [data-tab="details"] .attributes .health .hp fieldset.temp-hp {
	grid-area: temp-hp;
}
.hero.sheet [data-tab="details"] .attributes .health .hp fieldset.hit-dice {
	grid-area: hit-dice;
}
.hero.sheet [data-tab="details"] .attributes .health .hp fieldset.total-dmg {
	grid-area: total-dmg;
}
.hero.sheet [data-tab="details"] .attributes .health .hp fieldset:is(.max-hp, .current-hp) {
	border-block-end: 1px solid var(--eh-border-color-weak);
}
.hero.sheet [data-tab="details"] .attributes .health .hp fieldset:is(.max-hp, .current-hp, .hit-dice, .total-dmg) {
	border-inline-end: 1px solid var(--eh-border-color-weak);
}
.hero.sheet [data-tab="details"] .attributes .health label {
	text-align: center;
	line-height: 0.8em;
	padding-block: 0.25em;
}
.hero.sheet [data-tab="details"] .attributes .health :not(:is(.hit-dice, .total-dmg)) label {
	display: block;
}
.hero.sheet [data-tab="details"] .attributes .health :is(fieldset:is(.max-hp, .current-hp), div.death-saves) > label {
	font-weight: bold;
	text-transform: uppercase;
}
.hero.sheet [data-tab="details"] .attributes .health :is(span, input) {
	display: block;
	border: none;
	background: none;
	font-size: var(--font-size-24);
	text-align: center;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Summary & Resources                      */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.hero.sheet [data-tab="details"] .attributes :is(.summary, .resources) {
	display: grid;
	align-items: stretch;
	margin-block-start: 1em;
	grid-template-columns: repeat(4, 1fr);
	color: var(--eh-text-color-black);
}
.hero.sheet [data-tab="details"] .attributes :is(.summary, .resources) fieldset {
	display: grid;
	margin-block-end: -2px;
	margin-inline-end: -2px;
	border: 2px solid var(--eh-border-color-strong);
	justify-items: center;
	padding: 0.25em;
	background-color: var(--eh-background-color-white);
	text-align: center;
}
.hero.sheet [data-tab="details"] .attributes :is(.summary, .resources) fieldset:not(:last-of-type) {
}
.hero.sheet [data-tab="details"] .attributes :is(.summary, .resources) fieldset label {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.8em;
}
.hero.sheet [data-tab="details"] .attributes :is(.summary, .resources) fieldset span {
	font-size: var(--font-size-24);;
}

.hero.sheet [data-tab="details"] .attributes .resources fieldset {
	aspect-ratio: 1.25;
	background-size: 90% auto;
	background-repeat: no-repeat;
	background-position: center 1.5em;
}
.hero.sheet [data-tab="details"] .attributes .resources fieldset span.die {
	font-size: var(--font-size-18);
}
