.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section {
	display: grid;
	/* grid-template-columns: max-content repeat(3, auto) max-content; */
	grid-template-columns: repeat(4, auto) max-content;
	gap: 0 1em;
	overflow: clip;
	border: 1px solid var(--eh-border-color-weak);
	border-radius: 10px;
	background-color: var(--eh-background-color-light);
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section:not(:last-of-type) {
	margin-block-end: -20px;
	padding-block-end: 20px;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) :is(header, .primary-item, .item-list, .item-list > li) {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) :is(h3, h4) {
	display: flex;
	align-items: center;
	border: none;
	gap: 0.5em;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) :is(h3, h4) figure {
	width: 25px;
	height: 25px;
	margin: 0;
	border-radius: 5px;
	background-color: var(--eh-background-color-dark);
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) :is(h3, h4) figure[data-action] {
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) :is(h3, h4) figure[data-action] > i {
	display: none;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) :is(h3, h4) figure[data-action]:hover {
	background: var(--eh-background-color-light);
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) :is(h3, h4) figure[data-action]:hover > i {
	display: unset;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section header {
	margin: -1px;
	margin-block-end: 0;
	border: 1px solid var(--eh-border-color-weak);
	border-radius: 10px 10px 0 0;
	padding: 0.25em 0.5em;
	background-color: var(--eh-background-color-mid);
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section header h2 {
	grid-column: 1 / -1;
	margin: 0;
	border: none;
	font-size: var(--font-size-16);
	font-variant: small-caps;
	font-weight: bold;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section header .primary-item {
	margin-block-start: 0.5em;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section header .primary-item fieldset {
	grid-column: -2 / -1;
}

.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section .item-list {
	list-style: none;
	margin-block: 0.25em;
	padding: 0;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section .item-list > li {
	align-items: center;
	padding-block: 0.25em;
	padding-inline: 0.5em;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section .item-list > li:hover {
	background-color: var(--eh-background-color-mid);
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section .item-list > li h4 {
	margin: 0;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Item Actions                             */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section .item-list li > div {
	grid-column: 2 / -2;
	display: grid;
	grid-template-columns: subgrid;
	align-items: center;
	justify-items: start;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section .item-list li > div figure {
	width: 1.25em;
	height: 1.25em;
	margin: 0;
	background-repeat: no-repeat;
	background-size: contain;
}

.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) .item-modes {
	margin: 0;
	font-size: var(--font-size-12);
	border-width: 1px;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) .item-modes li {
	padding: 0;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) .item-modes li.selected {
	background-color: var(--eh-background-color-black);
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) .item-modes li.selected:hover {
	box-shadow: none;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) .item-modes a {
	margin-inline: -0.25em;
	padding: 0.25em 0.75em;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section .item-list li > div .item-modes figure {
	width: 1.5em;
	height: 1.5em;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section .item-list li > div .item-modes li.selected figure {
	filter: invert(1);
}

.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) .item-actions {
	display: flex;
	justify-content: flex-end;
	padding: 0.15em;
	gap: 0.25em;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) .ammunition {
	display: flex;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section .item-list li > div .action {
	display: flex;
	gap: 0.5em;
	border-radius: 1em;
	padding: 0.15em 0.5em;
	background-color: var(--eh-background-color-light);
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section .item-list li > div .action.disabled {
	opacity: 0.5;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section .item-list li > div .action:not(.disabled) {
	cursor: pointer;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) > section .item-list li > div .action:not(.disabled):hover {
	outline: 2px solid var(--eh-border-color-strong);
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Item Controls                            */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) fieldset {
	display: flex;
	gap: 0.5em;
	margin: 0;
	border: none;
	padding: 0;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) fieldset a {
	padding-inline: 0.5em;
	align-self: center;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) fieldset a:not(:hover, .equipped) {
	opacity: 0.5;
}
.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) fieldset {
	grid-column: -1;
	justify-content: flex-end;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Item Summary                             */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) .item-summary {
	grid-column: 1 / -2;
	display: block;
	margin-block: 0.5em 0.25em;
	border-radius: 10px;
	padding: 0.5em 1em;
	background-color: var(--eh-background-color-white);
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
	font-size: var(--font-size-12);
}
.everyday-heroes.hero.sheet :is([data-tab="features"], [data-tab="inventory"]) .item-summary .item-tags {
	gap: 3px 0.5em;
}
