.npc.sheet {
	min-width: 350px;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Header                                   */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.npc.sheet form > header fieldset.cr input {
	width: 2.5em;
	padding-inline: 0;
	text-align: center;
}

.everyday-heroes.npc.sheet form > header nav {
	flex: 1 0 100%;
	display: flex;
	margin-inline: -0.5em;
	margin-block-end: -0.5em;
	border-top: 1px solid var(--eh-border-color-weak);
}
.everyday-heroes.npc.sheet form > header nav a {
	flex-grow: 1;
	padding-inline: 0.5em;
	padding-block: 0.35em;
	text-align: center;
}
.everyday-heroes.npc.sheet form > header nav a.active {
	background-color: var(--eh-background-color-dark);
	color: var(--eh-text-color-white);
}
.everyday-heroes.npc.sheet form > header nav a:first-of-type {
	padding-inline-start: 1em;
}
.everyday-heroes.npc.sheet form > header nav a:last-of-type {
	padding-inline-end: 1em;
}
.everyday-heroes.npc.sheet form > header nav a:not(:last-of-type) {
	border-inline-end: 1px solid var(--eh-border-color-weak);
}
.everyday-heroes.npc.sheet form > header nav a[data-action="toggle-editing-mode"] {
	flex: 0 0 3em;
	padding-inline-start: 0.75em;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Attributes                               */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.npc.sheet [data-tab="details"] > section {
	overflow: clip;
	margin-block-start: 0.5em;
	border: 1px solid var(--eh-border-color-strong);
	border-radius: 10px;
	padding: 0.5em;
	background-color: var(--eh-background-color-light);
}
.everyday-heroes.npc.sheet [data-tab="details"] > section > fieldset {
	display: flex;
	align-items: first baseline;
	gap: 0.5em;
}
.everyday-heroes.npc.sheet [data-tab="details"] > section > fieldset:not(:last-of-type) {
	margin-block-end: 0.25em;
}
.everyday-heroes.npc.sheet [data-tab="details"] > section > fieldset:not(.abilities) > input {
	flex: 0 0 5em;
	width: unset;
}
.everyday-heroes.npc.sheet [data-tab="details"] > section > fieldset:not(.abilities) > select {
	flex: 0 0 10em;
	width: unset;
}
.everyday-heroes.npc.sheet [data-tab="details"] > section > fieldset:not(.abilities) > input[name="system.attributes.hp.value"] {
	text-align: end;
}

.everyday-heroes.npc.sheet [data-tab="details"] > section.attributes > fieldset > ul {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	margin: 0;
	padding: 0;
}

.everyday-heroes.npc.sheet [data-tab="details"] > section > fieldset.abilities {
	margin-inline: -0.25em;
	border: 3px double var(--eh-border-color-weak);
	padding: 0.25em;
}
.everyday-heroes.npc.sheet [data-tab="details"] > section > fieldset.abilities > div {
	display: flex;
	flex-wrap: wrap;
	align-items: first baseline;
	justify-content: center;
	gap: 0 0.25em;
}
.everyday-heroes.npc.sheet [data-tab="details"] > section > fieldset.abilities > div label {
	flex: 1 0 100%;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.everyday-heroes.npc.sheet [data-tab="details"] > section > fieldset.abilities > div input {
	text-align: center;
	padding: 0;
}
.everyday-heroes.npc.sheet [data-tab="details"] > section > fieldset.abilities > div [data-action="cycle-proficiency"] {
	flex-basis: 100%;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Actions                                  */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.npc.sheet [data-tab="details"] > section.actions > fieldset {
	display: block;
}
.everyday-heroes.npc.sheet [data-tab="details"] > section.actions > fieldset p {
	display: inline;
}
.everyday-heroes.npc.sheet [data-tab="details"] > section.actions > fieldset label span {
	font-style: italic;
	text-transform: none;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Inventory                                */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.npc.sheet [data-tab="inventory"] > section:first-child {
	margin-block-start: 0.5em;
}
.everyday-heroes.npc.sheet [data-tab="inventory"] .item > * {
	font-size: var(--font-size-12);
}
.everyday-heroes.npc.sheet [data-tab="inventory"] .item > .item-modes figure {
	width: 1.25em;
	height: 1.25em;
}
.everyday-heroes.npc.sheet [data-tab="inventory"] .item > div {
	display: flex;
	flex-wrap: wrap;
	gap: 0 0.25em;
	justify-content: space-between;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Biography                                */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.npc.sheet [data-tab="biography"] > section {
	margin-block-start: 0.5em;
}
.everyday-heroes.npc.sheet [data-tab="biography"] > section .editor {
	min-height: 30em;
}
.everyday-heroes.npc.sheet [data-tab="biography"] > section .editor.prosemirror {
	margin: -0.5em;
	max-width: unset;
	max-height: unset;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Effects                                */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.npc.sheet [data-tab="effects"] > section:first-child {
	margin-block-start: 0.5em;
}
