.everyday-heroes.vehicle.sheet {
	--speed-stopped-outer-color: rgb(164, 164, 164);
	--speed-stopped-inner-color: rgb(227, 227, 227);
	--speed-low-outer-color: rgb(159, 255, 87);
	--speed-low-inner-color: rgb(231, 255, 236);
	--speed-mid-outer-color: rgb(238, 237, 3);
	--speed-mid-inner-color: rgb(255, 254, 213);
	--speed-high-outer-color: rgb(255, 156, 57);
	--speed-high-inner-color: rgb(255, 236, 216);
	--speed-extreme-outer-color: rgb(215, 31, 31);
	--speed-extreme-inner-color: rgb(255, 237, 237);
	--speed-airspeed-outer-color: rgb(145, 250, 255);
	--speed-airspeed-inner-color: rgb(244, 255, 254);

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Header                                   */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	.vehicle-id {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
		overflow: clip;
		margin-block-end: 0.5em;
		border: 1px solid var(--eh-border-color-strong);
		border-radius: 25px;
		background-color: var(--eh-background-color-light);

		:is(input, select) {
			flex: 1 0 3em;
			height: unset;
			background: none;
		}
		:is(input, input:disabled) { color: var(--eh-text-color-black); }

		> div.name-type {
			flex: 1 0 100%;

			input { padding-inline: 1rem; }
			:is(span, select:first-child) { margin-inline-start: 1rem; }
			> .name > input {
				font-size: var(--font-size-28);
				height: unset;
				border-radius: 0;
				padding-block-start: 0.25em;
			}
			> .type > :is(span, select) {
				font-size: var(--font-size-16);
				font-variant: small-caps;
			}
		}

		> div.image {
			width: 150px;
			min-height: 150px;
			margin-inline-start: 0.5rem;
			margin-block-end: 0.5rem;
			border-radius: 20px;
			overflow: clip;
			background-size: contain;
			background-repeat: no-repeat;
			background-position-y: bottom;

			img {
				opacity: 0;
				aspect-ratio: 1 / 1;
			}
		}

		> div.details {
			flex: 1 0 66%;
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			gap: 0.5em 0;
			padding-block: 1em;

			> fieldset {
				flex: 1 0 100%;
				display: flex;
				align-items: center;
				gap: 0.5em;
				border-block-end: 1px dashed var(--eh-border-color-weak);
				padding-inline-end: 0.5em;

				:is(input, select) { margin-block: -2px; }
			}
			> .ability { flex: 1 0 30%; }
			> :is(.armorBody, .defense) { flex: 1 0 40%; }
			> :is(.armorWindowsTires, .price) { flex: 1 0 60%; }
			.tag-input {
				padding: 0;
				background: none;
			}
			.property-hint {
				text-decoration: none;
			}
		}
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Speed Control                            */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	section.speed {
		margin-inline: calc(-0.5em - 1px);
		padding-inline: 1.5em;
		background-color: var(--eh-background-color-dark);
		border-block: 2px solid var(--eh-border-color-strong);
		overflow: clip;

		ul {
			display: flex;
			justify-content: center;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			contain: layout;
			flex: 1 0;
			margin-inline: -1px;
			filter: drop-shadow(5px 0 5px rgba(0, 0, 0, 0.5));
			cursor: pointer;

			&:first-child {
				margin-inline-start: -5em;
				padding-inline-start: 5em;
			}
			&:first-child :is(.top, .bottom) {
				background-position-x: 1em;
			}
			&.speed-stopped { z-index: 6; }
			&.speed-low { z-index: 5; }
			&.speed-mid { z-index: 4; }
			&.speed-high { z-index: 3; }
			&.speed-extreme { z-index: 2; }
			&.speed-airspeed { z-index: 1; }

			label {
				position: relative;
				display: block;
				padding-block: 0.5em;
				color: var(--eh-text-color-white);
				text-align: center;
				font-size: var(--font-size-14);
				cursor: pointer;

				input { display: none; }
			}
			&:is(:hover, .exceeded, .current) label {
				color: var(--eh-text-color-black);
			}

			:is(.top, .bottom) {
				position: absolute;
				left: 0;
				right: 0;
				border-inline: 2px solid var(--eh-border-color-strong);
				background-color: var(--eh-background-color-dark);
				background-size: 125% 200%;
				background-position-x: center;
			}
			&:hover :is(.top, .bottom) {
				background-color: var(--eh-background-color-light);
			}

			.top {
				top: 0;
				bottom: 50%;
				transform: skew(30deg);
				background-position-y: top;
			}
			.bottom {
				top: 50%;
				bottom: 0;
				transform: skew(-30deg);
				background-position-y: bottom;
			}
		}
		&.stopped li:not(:hover):is(.exceeded, .current) :is(.top, .bottom) {
			background-image: radial-gradient(ellipse farthest-corner,
				var(--speed-stopped-inner-color) 40%,
				var(--speed-stopped-outer-color) 100%);	
		}
		&.low li:not(:hover):is(.exceeded, .current) :is(.top, .bottom) {
			background-image: radial-gradient(ellipse farthest-corner,
				var(--speed-low-inner-color) 40%,
				var(--speed-low-outer-color) 100%);
		}
		&.mid li:not(:hover):is(.exceeded, .current) :is(.top, .bottom) {
			background-image: radial-gradient(ellipse farthest-corner,
				var(--speed-mid-inner-color) 40%,
				var(--speed-mid-outer-color) 100%);
		}
		&.high li:not(:hover):is(.exceeded, .current) :is(.top, .bottom) {
			background-image: radial-gradient(ellipse farthest-corner,
				var(--speed-high-inner-color) 40%,
				var(--speed-high-outer-color) 100%);
		}
		&.extreme li:not(:hover):is(.exceeded, .current) :is(.top, .bottom) {
			background-image: radial-gradient(ellipse farthest-corner,
				var(--speed-extreme-inner-color) 40%,
				var(--speed-extreme-outer-color) 100%);
		}
		&.airspeed li:not(:hover):is(.exceeded, .current) :is(.top, .bottom) {
			background-image: radial-gradient(ellipse farthest-corner,
				var(--speed-airspeed-inner-color) 40%,
				var(--speed-airspeed-outer-color) 100%);
		}
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Driver                                   */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	section.driver {
		display: flex;
		align-items: center;
		gap: 1em;
		height: calc(4em + 4px);
		margin-inline: calc(-0.5em - 1px);
		margin-block-start: 1em;
		border-block: 2px solid var(--eh-border-color-strong);
		padding-inline: 1em;
		background-color: var(--eh-background-color-white);

		figure {
			width: 3rem;
			height: 3rem;
			margin-block: 0.25em;
			border-radius: 20%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		h4 {
			flex: 1;
			margin: 0;
			font-size: var(--font-size-16);
		}
		.no-driver { text-align: center; }
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Roll Buttons                             */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	section.rolls ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		margin: 0.5em;
		margin-block-start: 1em;
		padding: 0;
		list-style: none;

		li {
			flex: 1 0 calc(50% - 1em);
			margin: 0;
		}
	}
	section.rolls button {
		display: flex;
		padding-inline: 0.5em;

		&[disabled] { opacity: 0.6; }
		figure {
			flex: 0 0 2em;
			width: 2em;
			height: 2em;
			margin: 0;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		.label { flex: 1; }
		.modifier { flex: 0 0 2em; }
	}
}
