.everyday-heroes.vehicle.sheet {
	--speed-stopped-outer-color: rgb(164, 164, 164);
	--speed-stopped-inner-color: rgb(227, 227, 227);
	--speed-low-outer-color: rgb(159, 255, 87);
	--speed-low-inner-color: rgb(231, 255, 236);
	--speed-mid-outer-color: rgb(238, 237, 3);
	--speed-mid-inner-color: rgb(255, 254, 213);
	--speed-high-outer-color: rgb(255, 156, 57);
	--speed-high-inner-color: rgb(255, 236, 216);
	--speed-extreme-outer-color: rgb(215, 31, 31);
	--speed-extreme-inner-color: rgb(255, 237, 237);
	--speed-airspeed-outer-color: rgb(145, 250, 255);
	--speed-airspeed-inner-color: rgb(244, 255, 254);
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Header                                   */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.vehicle.sheet .vehicle-id {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	overflow: clip;
	margin-block-end: 0.5em;
	border: 1px solid var(--eh-border-color-strong);
	border-radius: 25px;
	background-color: var(--eh-background-color-light);
}
.everyday-heroes.vehicle.sheet .vehicle-id :is(input, select) {
	flex: 1 0 3em;
	height: unset;
	background: none;
}
.everyday-heroes.vehicle.sheet .vehicle-id :is(input, input:disabled) {
	color: var(--eh-text-color-black);
}

.everyday-heroes.vehicle.sheet .vehicle-id > div.name-type {
	flex: 1 0 100%;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.name-type input {
	padding-inline: 1rem;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.name-type :is(span, select:first-child) {
	margin-inline-start: 1rem;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.name-type > .name > input {
	font-size: var(--font-size-28);
	height: unset;
	border-radius: 0;
	padding-block-start: 0.25em;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.name-type > .type > :is(span, select) {
	font-size: var(--font-size-16);
	font-variant: small-caps;
}

.everyday-heroes.vehicle.sheet .vehicle-id > div.image {
	width: 150px;
	min-height: 150px;
	margin-inline-start: 0.5rem;
	margin-block-end: 0.5rem;
	border-radius: 20px;
	overflow: clip;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: bottom;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.image img {
	opacity: 0;
	aspect-ratio: 1 / 1;
}

.everyday-heroes.vehicle.sheet .vehicle-id > div.details {
	flex: 1 0 66%;
	display: flex;
	flex-wrap: wrap;
	align-content: start;
	gap: 0.5em 0;
	padding-block: 1em;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.details > fieldset {
	flex: 1 0 100%;
	display: flex;
	align-items: center;
	gap: 0.5em;
	border-block-end: 1px dashed var(--eh-border-color-weak);
	padding-inline-end: 0.5em;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.details > fieldset :is(input, select) {
	margin-block: -2px;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.details .range {
	flex: 0 1 8em;
	display: flex;
	align-items: center;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.details .range input:not(:disabled) {
	flex: 0 1 3em;
	text-align: end;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.details .range .seperator + input:not(:disabled) {
	text-align: start;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.details > .ability {
	flex: 1 0 30%;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.details > :is(.armorBody, .defense) {
	flex: 1 0 40%;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.details > :is(.armorWindowsTires, .price) {
	flex: 1 0 60%;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.details .tag-input {
	padding: 0;
	background: none;
}
.everyday-heroes.vehicle.sheet .vehicle-id > div.details .property-hint {
	text-decoration: none;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Speed Control                            */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.vehicle.sheet section.speed {
	margin-inline: calc(-0.5em - 1px);
	padding-inline: 1.5em;
	background-color: var(--eh-background-color-dark);
	border-block: 2px solid var(--eh-border-color-strong);
	overflow: clip;
}
.everyday-heroes.vehicle.sheet section.speed ul {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}
.everyday-heroes.vehicle.sheet section.speed li {
	contain: layout;
	flex: 1 0;
	margin-inline: -1px;
	filter: drop-shadow(5px 0 5px rgba(0, 0, 0, 0.5));
	cursor: pointer;
}
.everyday-heroes.vehicle.sheet section.speed li:first-child {
	margin-inline-start: -5em;
	padding-inline-start: 5em;
}
.everyday-heroes.vehicle.sheet section.speed li:first-child :is(.top, .bottom) {
	background-position-x: 1em;
}
.everyday-heroes.vehicle.sheet section.speed li.speed-stopped { z-index: 6; }
.everyday-heroes.vehicle.sheet section.speed li.speed-low { z-index: 5; }
.everyday-heroes.vehicle.sheet section.speed li.speed-mid { z-index: 4; }
.everyday-heroes.vehicle.sheet section.speed li.speed-high { z-index: 3; }
.everyday-heroes.vehicle.sheet section.speed li.speed-extreme { z-index: 2; }
.everyday-heroes.vehicle.sheet section.speed li.speed-airspeed { z-index: 1; }

.everyday-heroes.vehicle.sheet section.speed li label {
	position: relative;
	display: block;
	padding-block: 0.5em;
	color: var(--eh-text-color-white);
	text-align: center;
	font-size: var(--font-size-14);
	cursor: pointer;
}
.everyday-heroes.vehicle.sheet section.speed li label input {
	display: none;
}
.everyday-heroes.vehicle.sheet section.speed li:is(:hover, .exceeded, .current) label {
	color: var(--eh-text-color-black);
}

.everyday-heroes.vehicle.sheet section.speed li :is(.top, .bottom) {
	position: absolute;
	left: 0;
	right: 0;
	border-inline: 2px solid var(--eh-border-color-strong);
	background-color: var(--eh-background-color-dark);
	background-size: 125% 200%;
	background-position-x: center;
}
.everyday-heroes.vehicle.sheet section.speed li:hover :is(.top, .bottom) {
	background-color: var(--eh-background-color-light);
}
.everyday-heroes.vehicle.sheet section.speed.stopped li:not(:hover):is(.exceeded, .current) :is(.top, .bottom) {
	background-image: radial-gradient(ellipse farthest-corner,
		var(--speed-stopped-inner-color) 40%,
		var(--speed-stopped-outer-color) 100%);	
}
.everyday-heroes.vehicle.sheet section.speed.low li:not(:hover):is(.exceeded, .current) :is(.top, .bottom) {
	background-image: radial-gradient(ellipse farthest-corner,
		var(--speed-low-inner-color) 40%,
		var(--speed-low-outer-color) 100%);
}
.everyday-heroes.vehicle.sheet section.speed.mid li:not(:hover):is(.exceeded, .current) :is(.top, .bottom) {
	background-image: radial-gradient(ellipse farthest-corner,
		var(--speed-mid-inner-color) 40%,
		var(--speed-mid-outer-color) 100%);
}
.everyday-heroes.vehicle.sheet section.speed.high li:not(:hover):is(.exceeded, .current) :is(.top, .bottom) {
	background-image: radial-gradient(ellipse farthest-corner,
		var(--speed-high-inner-color) 40%,
		var(--speed-high-outer-color) 100%);
}
.everyday-heroes.vehicle.sheet section.speed.extreme li:not(:hover):is(.exceeded, .current) :is(.top, .bottom) {
	background-image: radial-gradient(ellipse farthest-corner,
		var(--speed-extreme-inner-color) 40%,
		var(--speed-extreme-outer-color) 100%);
}
.everyday-heroes.vehicle.sheet section.speed.airspeed li:not(:hover):is(.exceeded, .current) :is(.top, .bottom) {
	background-image: radial-gradient(ellipse farthest-corner,
		var(--speed-airspeed-inner-color) 40%,
		var(--speed-airspeed-outer-color) 100%);
}
.everyday-heroes.vehicle.sheet section.speed li .top {
	top: 0;
	bottom: 50%;
	transform: skew(30deg);
	background-position-y: top;
}
.everyday-heroes.vehicle.sheet section.speed li .bottom {
	top: 50%;
	bottom: 0;
	transform: skew(-30deg);
	background-position-y: bottom;
}
