.everyday-heroes.advancement.config form {
	--advancement-config-columns: 1fr;
	display: grid;
	grid-template-columns: var(--advancement-config-columns);
	gap: 0.5em;
	align-items: flex-start;

	> section {
		display: grid;
		overflow: clip;
		grid-template-columns: 1fr 2fr;
		gap: 0.25em 0.5em;
		align-items: center;
		border: 1px solid var(--eh-border-color-strong);
		border-radius: 10px;
		padding: 0.5em;
		background-color: var(--eh-background-color-mid);

		&.left.column { grid-column: 1; }
		&.right.column { grid-column: 2; }
		> fieldset {
			grid-column: 1 / -1;
			display: grid;
			grid-template-columns: subgrid;
			align-items: center;
		}

		h3 {
			grid-column: 1 / -1;
			margin-inline: -0.5em;
			&:first-child { margin-block-start: -0.5em; }
		}

		hr {
			grid-column: 1 / -1;
			border: none;
			border-block-end: 1px solid var(--eh-border-color-weak);
			margin-inline: -0.5em;
		}

		p.hint {
			grid-column: 1 / -1;
			&.centered { text-align: center; }
		}

		@supports not (grid-template-columns: subgrid) {
			> fieldset {
				display: flex;
				flex-wrap: wrap;
				gap: 0.5em;
			}
			p.hint {
				flex: 1 0 100%;
			}
		}
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Item Lists                               */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	> section.items {
		background-color: var(--eh-background-color-light);

		ol {
			grid-column: 1 / -1;
			display: grid;
			grid-template-columns: auto min-content;
			list-style: none;
			margin: 0 -0.5em;
			padding: 0;

			li {
				grid-column: 1 / -1;
				display: grid;
				grid-template-columns: subgrid;
				padding-inline: 0.5em;
				line-height: 2em;

				&:hover { background-color: var(--eh-background-color-mid); }
				fieldset {
					display: flex;
					gap: 0.5em;
				}
			}
		}

		@supports not (grid-template-columns: subgrid) {
			ol li {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
