.everyday-heroes.advancement.selection .main-form {
	background-color: var(--eh-background-color-light);

	ol {
		grid-column: 1 / -1;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ol li {
		margin-inline: -0.5em;

		&:not(:first-of-type) { margin-block-start: 0.25em; }
		label {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 0 1em;
			padding-inline: 1em;
			padding-block: 0.25em;

			&:hover{ background-color: var(--eh-background-color-mid); }
			figure {
				width: 36px;
				height: 36px;
				margin: 0;
				background-size: contain;
				background-repeat: no-repeat;
			}
			h3 {
				flex-grow: 1;
				margin: 0;
				border: none;
			}
			input {
				width: 20px;
				height: 20px;
			}
		}
	}
}
