.everyday-heroes.advancement.config.asi .properties,
.everyday-heroes.advancement.manager [data-type="ASI"] .properties {
	grid-column: 1 / -1;
	grid-template-columns: 1fr 1fr;
}
.everyday-heroes.advancement.manager [data-type="ASI"] > p {
	grid-column: 1 / -1;
	margin: 0;
	text-align: center;
}
