/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Config                                   */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.advancement.config.scale-value {
	form { --advancement-config-columns: 2fr 1fr; }
	.scale-values {
		grid-template-columns: min-content auto;
		select:not(.new-scale-value) { color: var(--eh-text-color-placeholder); }
	}
}

@supports not (grid-template-columns: subgrid) {
	.scale-values fieldset > label {
		flex-basis: 1.5em;
	}
	.scale-values fieldset > .fields {
		flex-basis: calc(100% - 2em);
	}
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Flow                                     */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.advancement.manager :is([data-type="ScaleValue"], [data-type="Defense"], [data-type="Resource"]) {
	p {
		grid-column: 1 / -1;
		font-size: var(--font-size-20);
		text-align: center;
	}
	span.scale-value {
		margin-inline: 0.5em;	
	}
	span.none {
		font-style: italic;
	}
}
