/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Config                                   */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.advancement.config.scale-value form {
	--advancement-config-columns: 2fr 1fr;
}
.everyday-heroes.advancement.config.scale-value .scale-values {
	grid-template-columns: min-content auto;
}
.everyday-heroes.advancement.config.scale-value .scale-values select:not(.new-scale-value) {
	color: var(--eh-text-color-placeholder);
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Flow                                     */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.advancement.manager :is([data-type="ScaleValue"], [data-type="Defense"]) p {
	grid-column: 1 / -1;
	font-size: var(--font-size-20);
	text-align: center;
}
.everyday-heroes.advancement.manager :is([data-type="ScaleValue"], [data-type="Defense"]) span.scale-value {
	margin-inline: 0.5em;	
}
.everyday-heroes.advancement.manager :is([data-type="ScaleValue"], [data-type="Defense"]) span.none {
	font-style: italic;
}
