{{#each this}}
{{#if field}}
{{ formField field value=value input=input options=options disabled=disabled readonly=readonly
             autofocus=autofocus localize=localize placeholder=placeholder
						 label=label hint=hint classes=classes rootId=@root.partId }}
{{else if fields}}
<div class="form-group split-group {{ group.cssClass }}">
	{{#if group.label}}<label>{{ localize group.label }}</label>{{/if}}
	<div class="form-fields">
		{{> "everydayHeroes.fieldlist" fields }}
	</div>
</div>
{{/if}}
{{/each}}
