<form class="{{cssClass}}" autocomplete="off">

	<nav data-group="primary">
		<a data-tab="details">Details</a>
		<a data-tab="features">Features</a>
		<a data-tab="inventory">Inventory</a>
		<a data-tab="biography">Biography</a>
	</nav>

	<main>
		<div class="tab" data-group="primary" data-tab="details">
			{{> "eh.character-details"}}
		</div>
		<div class="tab" data-group="primary" data-tab="features">
			Features
		</div>
		<div class="tab" data-group="primary" data-tab="inventory">
			<section class="proficiencies">
				Equipment Proficiencies
			</section>
		</div>
		<div class="tab" data-group="primary" data-tab="biography">
			Biography
		</div>
	</main>

</form>
