<form class="{{cssClass}}" autocomplete="off">

	<nav data-group="primary">
		<a data-tab="details">Details</a>{{!-- TODO: Localize --}}
		<a data-tab="features">Features</a>{{!-- TODO: Localize --}}
		<a data-tab="inventory">Inventory</a>{{!-- TODO: Localize --}}
		<a data-tab="biography">Biography</a>{{!-- TODO: Localize --}}
	</nav>

	<main>
		<div class="tab" data-group="primary" data-tab="details">
			{{> "everydayHeroes.hero-details"}}
		</div>
		<div class="tab" data-group="primary" data-tab="features">
			{{> "everydayHeroes.actor-inventory" sections=features}}
		</div>
		<div class="tab" data-group="primary" data-tab="inventory">
			<section class="proficiencies">
				Equipment Proficiencies
			</section>
			{{> "everydayHeroes.actor-inventory" sections=inventory}}
		</div>
		<div class="tab" data-group="primary" data-tab="biography">
			{{> "everydayHeroes.hero-biography"}}
		</div>
	</main>

</form>
