@import "./damage-card.css";
@import "./item-card.css";

.dice-roll {
	&.critical-success .dice-total { color: var(--eh-dice-color-critical-success); }
	&.critical-failure .dice-total { color: var(--eh-dice-color-critical-failure); }
	&.success .dice-total {
		background: var(--eh-background-color-success);
		border-color: var(--eh-dice-color-success);
	}
	&.failure .dice-total {
		background: var(--eh-background-color-failure);
		border-color: var(--eh-dice-color-failure);
	}
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Chat Actions                             */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.chat-actions {
	padding-inline: 0.5em;
	font-size: var(--font-size-12);
}
.everyday-heroes.chat-actions p {
	margin: 0.25em 0;
}
.everyday-heroes.chat-actions nav.skewed button {
	font-size: var(--font-size-14);
	line-height: 1.5em;
}
