.damage.dice-roll .dice-total {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.25em;
}
.damage.dice-roll .dice-total :is(.damage-type, .pv) {
	border: 1px solid var(--eh-border-color-weak);
	border-radius: 5px;
	padding-inline: 0.5em;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
	font-size: var(--font-size-11);
	font-variant: small-caps;
	font-weight: normal;
	line-height: initial;
}
.damage.dice-roll .dice-total .damage-type {
	position: absolute;
	left: 0.25em;
	background-color: var(--eh-tag-color-type);
}
.damage.dice-roll .dice-total .pv {
	position: absolute;
	right: 0.25em;
	background-color: var(--eh-tag-color-property);
}
