.everyday-heroes.item.card {
	header {
		display: flex;
		align-items: center;
		gap: 0.5em;

		img { flex: 0 0 36px; }
		h3 {
			flex-grow: 1;
			margin: 0;
			border: none;
		}
	}
	.content { font-size: var(--font-size-12); }
	footer { margin-block-start: 0.25em; }
}

