.everyday-heroes.condition.sheet [data-tab="effects"] > fieldset {
	margin-block-start: 0.5em;
	border: 2px solid var(--eh-border-color-strong);
	border-radius: 10px;
	padding: 0.5em;
	background-color: var(--eh-background-color-white);

	> legend {
		margin-inline-start: 10px;
		border: 1px solid var(--eh-border-color-weak);
		border-radius: 5px;
		padding: 0.25em 0.5em;
		background-color: var(--eh-background-color-white);
		font-weight: bold;
	}
}
