.everyday-heroes.item.sheet [data-tab="details"] {

	> section {
		display: grid;
		overflow: clip;
		grid-template-columns: repeat(5, 1fr);
		border: 1px solid var(--eh-border-color-strong);
		border-radius: 10px;
		padding: 0.5em;
		background-color: var(--eh-background-color-mid);
	}
	h3 {
		grid-column: 1 / -1;
		margin-block-start: 1em;
		margin-inline: -0.5em;
	}
	h3:first-child {
		margin-block-start: -0.5em;
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Fields                                   */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	section > fieldset {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;
		gap: 0.25em;
		margin-block: 0.5em;

		> :is(label, legend) {
			grid-column: 1 / span 2;
			align-self: center;
			font-weight: bold;
			text-transform: uppercase;
		}

		> :is(input, select, multi-select, .tag-input) {
			grid-column: 3 / -1;
			width: unset;
		}

		&.triple > :is(input, select, .tag-input) {
			grid-column: unset;
		}

		> .fields {
			grid-column: 3 / -1;
			display: grid;
			grid-template-columns: subgrid;
		}

		> * {
			&.single { grid-column: span 1; }
			&.double { grid-column: span 2; }
			&.triple { grid-column: span 3; }
		}

		> label {
			display: flex;
			flex-direction: column;

			> :is(input, select) {
				flex: 1 0 calc(var(--form-field-height) + 1px);
			}

			> span {
				font-size: var(--font-size-12);
				font-variant: small-caps;
				font-weight: bold;
			}

			> span > input[type="checkbox"] {
				float: right;
				width: 1em;
				height: 1em;
				margin: 0;
			}
		}

		.hint {
			grid-column: 1 / -1;
			flex: 1 0 100%;
		}

		@supports not (grid-template-columns: subgrid) {
			display: flex;
			flex-wrap: wrap;

			> label { flex-basis: 33%; }
			.fields {
				display: flex;
				flex-grow: 1;
				> * { flex: 1 0 33%; }
			}
			.hint { flex-basis: 100%; }
		}
	}
	
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Properties                               */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	
	.properties {
		grid-column: 1 / -1;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Supplemental Damage                      */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	
	.supplemental-damage .control {
		grid-column: -1;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-inline-end: 0.5em;
	}
}
