@import "./advancement.css";
@import "./condition.css";
@import "./details.css";

.item.sheet form {
	display: flex;
	flex-direction: column;
	gap: 10px;

	> main {
		flex-grow: 1;
		.tab { height: 100%; }
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Header                                   */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	> header {
		display: grid;
		grid-template-columns: max-content auto min-content;

		> div.image {
			grid-column: 1;
			z-index: 4;
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 128px;
			border: 1px solid var(--eh-border-color-strong);
			border-radius: 20px 0 0 20px;
			background-color: var(--eh-background-color-dark);
			overflow: clip;

			img {
				border: none;
				min-width: 64px;
				min-height: 64px;
				max-width: 128px;
				max-height: 128px;
			}
		}
		
		> div.fields {
			grid-column: 2;
			z-index: 4;
			border: 1px solid var(--eh-border-color-strong);
			border-inline-start: none;
			border-bottom-right-radius: 20px;
			padding: 0.5em;
			background-color: var(--eh-background-color-mid);

			fieldset {
				display: flex;
				align-items: first baseline;
				border: none;
				gap: 0.5em;

				&:not(:last-of-type) { margin-block-end: 0.25em; }
				label {
					font-weight: bold;
					text-transform: uppercase;
				}
				:is(input, select) {
					flex-grow: 1;
					border: none;
					border-radius: 8px;
					padding-inline: 0.25em;
					background-color: var(--eh-background-color-white);
					font-family: var(--font-primary);
					font-size: var(--font-size-18);
					line-height: 1.5em;
				}
			}
		}

		div.fields {
			flex-grow: 1;
			> label {
				flex: 1;
				display: flex;
				flex-direction: column;
			}
		}
		
		> nav {
			grid-column: 3;
			z-index: 2;
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			margin-inline-start: -10px;

			a {
				display: block;
				flex: 1 0 100%;
				border: 1px solid var(--eh-border-color-weak);
				padding-block: 0.35rem;
				padding-inline: 20px 10px;
				background-color: var(--eh-background-color-mid);
				text-align: center;

				&.active {
					background: var(--eh-background-color-dark);
					color: var(--eh-text-color-white);
				}
				&:first-of-type { border-top-right-radius: 10px; }
				&:last-of-type {
					border-bottom-right-radius: 10px;
					border-bottom-left-radius: 10px;
				}
			}
		}
	}
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Description                              */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.item.sheet main > [data-tab="description"] > section {
	height: 100%;
	display: grid;
	grid-template-rows: min-content auto min-content;
	border: 2px solid var(--eh-border-color-strong);
	border-radius: 20px;
	padding: 0.5em;
	background-color: var(--eh-background-color-white);
	overflow: clip;

	.editor {
		min-height: 12em;
		margin-inline: 0.5em;
		&.prosemirror {
			margin: -0.5em;
			max-width: unset;
			max-height: unset;
		}
	}

	footer {
		margin: -0.5em;
		margin-block-start: 0.5em;
		padding: 0.5em 1em;
		background-color: var(--eh-background-color-light);
		fieldset {
			display: flex;
			align-items: center;
			gap: 0.5em;
			font-size: var(--font-size-11);
		}
		label {
			font-variant: small-caps;
			text-transform: unset;
		}
		input {
			height: unset;
			line-height: 1.5em;
			background: none;
		}
	}
}
