.everyday-heroes-compendium h3 {
	margin-block-start: 0.5em;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Journals                                 */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

:is(.journal-sheet, .everyday-heroes.sheet .editor) :is(h1, h2, h3, h4) {
	font-weight: bold;
	text-transform: uppercase;
}
:is(.journal-sheet, .everyday-heroes.sheet .editor) :is(h1, h2) {
	border: none;
	color: var(--eh-text-color-red);
}
:is(.journal-sheet, .everyday-heroes.sheet .editor) h1 {
	font-size: var(--font-size-48);
	text-align: center;
}
:is(.journal-sheet, .everyday-heroes.sheet .editor) h2 {
	font-size: var(--font-size-32);
}
:is(.journal-sheet, .everyday-heroes.sheet .editor) h3 {
	border-block-end: 4px solid var(--eh-border-color-strong);
	font-size: var(--font-size-24);
}
:is(.journal-sheet, .everyday-heroes.sheet .editor) h4 {
	font-size: var(--font-size-18);
}
:is(.journal-sheet, .everyday-heroes.sheet .editor) h5 {
	margin-block-end: 0;
	text-transform: uppercase;
}
:is(.journal-sheet, .everyday-heroes.sheet .editor) :is(h1, h2, h3, h4) strong {
	color: var(--eh-text-color-red);
	font-weight: bolder;
}
:is(.journal-sheet, .everyday-heroes.sheet .editor) strong.ability {
	color: var(--eh-text-color-red);
	text-transform: uppercase;
}

ul {
	list-style-type: "▸ ";
}
.journal-sheet ul.multi-column-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.everyday-heroes.sheet ul.multi-column-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.callout {
	margin: 1em 2em;
	border: 3px solid var(--eh-border-color-strong);
	border-radius: 40px;
	padding: 2em;
}
.callout h5 {
	margin-block: 0.25em;
	font-size: var(--font-size-16);
	text-align: center;
	text-transform: uppercase;
}

.read-aloud {
	margin: 0;
	border: 4px double var(--eh-border-color-read-aloud);
	padding: 0.5em;
	background-color: var(--eh-background-color-read-aloud);
	font-style: normal;
}
.read-aloud + .read-aloud {
	margin-block-start: 0.5em;
}
.read-aloud h5 {
	margin-block-start: 0;
	margin-inline: -0.5em;
	border-block-end: 4px double var(--eh-border-color-read-aloud);
	padding-inline: 0.5em;
	font-size: unset;
}
.read-aloud p:first-child {
	margin-block-start: 0;
}
.read-aloud p:last-child {
	margin-block-end: 0;
}

.journal-sheet strong.archetype {
	color: var(--eh-text-color-red);
	text-transform: uppercase;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Special Headers                          */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

h3.arrowed {
	border: none;
}
h3.arrowed::before {
	content: "◀︎";
	display: inline-block;
	position: relative;
	top: -0.4em;
	padding-inline-end: 0.65em;
	font-size: 0.5em;
}
h3.arrowed::after {
	content: "▶︎";
	display: inline-block;
	position: relative;
	top: -0.15em;
	padding-inline-start: 0.5em;
	font-size: 0.65em;
}

:is(h3, h4).rounded {
	margin-block-start: 0.5em;
	border: none;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	color: var(--eh-text-color-white);
	background-color: var(--eh-background-color-blue);
	line-height: 1.5em;
	text-align: center;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Table                                    */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.journal-sheet table caption {
	margin-block-end: 0.5em;
	color: var(--eh-text-color-red);
	font-size: var(--font-size-20);
	font-weight: bold;
	text-transform: uppercase;
}
.journal-sheet table thead {
	background: none;
}
.journal-sheet table th {
	color: var(--eh-text-color-black);
	font-weight: bold;
	text-align: center;
	text-shadow: none;
	text-transform: uppercase;
}
.journal-sheet table.full {
	border: none;
	background: none;
}
.journal-sheet table.full :is(td, th) {
	padding: 0.5em;
}
.journal-sheet table.full tr:not(:last-of-type) {
	border-block-end: 1px solid var(--eh-border-color-strong);
}
.journal-sheet table.full tbody :is(tr.dark, tr:not(.dark, .light):nth-of-type(odd)) {
	background-color: rgba(214, 228, 229, 0.5);
}
.journal-sheet table.full tbody :is(tr.light, tr:not(.dark, .light):nth-of-type(even)) {
	background-color: rgba(255, 255, 255, 0.5);
}
.journal-sheet table.full tbody th[colspan] {
	padding-block: 1em;
	background-color: rgba(247, 241, 193, 0.5);
}

.journal-sheet table.full.internal-borders thead {
	border: none;
}
.journal-sheet table.full.internal-borders tr:not(:last-of-type) {
	border-block: none;
}
.journal-sheet table.full.internal-borders :is(th, td):not(:last-child) {
	border-inline-end: 4px double var(--eh-border-color-weak);
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Callout Tables                           */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.journal-sheet table:is(.yellow, .blue) {
	width: calc(100% - 6em);
	overflow: clip;
	margin: 3em;
	border: none;
	border-collapse: separate;
	border-radius: 40px;
	border-spacing: 0;
	background: none;
}
.journal-sheet table:is(.yellow, .blue).narrow {
	width: calc(100% - 16em);
	margin-inline: 8em;
}
.journal-sheet table:is(.yellow, .blue).wide {
	width: calc(100% - 2em);
	margin-inline: 1em;
}

.journal-sheet table:is(.yellow, .blue) thead {
	background: none;
}
.journal-sheet table:is(.yellow, .blue) :is(td, th) {
	border: none;
}
.journal-sheet table:is(.yellow, .blue) thead tr:first-child th {
	border-block-start: 4px solid var(--eh-border-color-strong);
	padding-block-start: 1em;
}
.journal-sheet table:is(.yellow, .blue) thead tr th:first-child {
	border-inline-start: 4px solid var(--eh-border-color-strong);
	padding-inline-start: 2em;
}
.journal-sheet table:is(.yellow, .blue) thead tr th:last-child {
	border-inline-end: 4px solid var(--eh-border-color-strong);
	padding-inline-end: 2em;
}
.journal-sheet table:is(.yellow, .blue) thead tr:first-child :is(td, th):first-child {
	border-top-left-radius: 40px;
}
.journal-sheet table:is(.yellow, .blue) thead tr:first-child :is(td, th):last-child {
	border-top-right-radius: 40px;
}
.journal-sheet table:is(.yellow, .blue) tbody tr:last-child :is(td, th) {
	border-block-end: 4px solid var(--eh-border-color-strong);
	padding-block-end: 1em;
}
.journal-sheet table:is(.yellow, .blue) tbody tr :is(td, th):first-child {
	border-inline-start: 4px solid var(--eh-border-color-strong);
	padding-inline-start: 2em;
}
.journal-sheet table:is(.yellow, .blue) tbody tr :is(td, th):last-child {
	border-inline-end: 4px solid var(--eh-border-color-strong);
	padding-inline-end: 2em;
}
.journal-sheet table:is(.yellow, .blue) tbody tr:last-child :is(td, th):first-child {
	border-bottom-left-radius: 40px;
}
.journal-sheet table:is(.yellow, .blue) tbody tr:last-child :is(td, th):last-child {
	border-bottom-right-radius: 40px;
}

.journal-sheet table:is(.yellow, .blue) :is(th, td) {
	padding-inline: 0.5em;
}
.journal-sheet table:is(.yellow, .blue) :is(th, td):not(:last-child) {
	border-inline-end: 4px double var(--eh-border-color-weak);
}
.journal-sheet table:is(.yellow, .blue).narrow td {
	text-align: center;
}
