.everyday-heroes.dialog .main-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em 0.5em;
	overflow: clip;
	border: 1px solid var(--eh-border-color-strong);
	border-radius: 10px;
	padding: 0.5em;
	background-color: var(--eh-background-color-mid);
}
.everyday-heroes.dialog .main-form > p {
	grid-column: 1 / -1;
}
.everyday-heroes.dialog .main-form > p:first-child {
	margin-block-start: 0;
}
.everyday-heroes.dialog .main-form > p:last-child {
	margin-block-end: 0;
}
.everyday-heroes.dialog .main-form fieldset {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
}
.everyday-heroes.dialog .main-form fieldset > label {
	font-weight: bold;
	text-transform: uppercase;
}
.everyday-heroes.dialog .main-form fieldset > .hint {
	grid-column: 1 / -1;
}

@supports not (grid-template-columns: subgrid) {
	.everyday-heroes.dialog .main-form fieldset {
		grid-template-columns: 33% auto;
	}
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Resting                                  */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.rest [data-action="roll-medicine"] {
	grid-column: 1 / -1;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Rolling                                  */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes.roll .main-form {
	grid-template-columns: 1fr 2fr;
}

.everyday-heroes.roll .formulas {
	grid-column: 1 / -1;
	margin-block: 0;
	margin-inline: -0.5em;
	padding: 0;
	list-style: none;
	font-size: var(--font-size-20);
}
.everyday-heroes.roll .formulas li {
	padding: 0.25em;
	background-color: var(--eh-background-color-light);
	text-align: center;
}
.everyday-heroes.roll .formulas li:not(:last-of-type) {
	margin-block-end: 0.25em;
}
.everyday-heroes.roll .formulas.damage li {
	contain: content;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.25em;
	padding-inline: 0.5em;
}
.everyday-heroes.roll .formulas.damage span:not(.damage-type) {
	flex-grow: 1;
}
