.everyday-heroes fieldset {
	margin: 0;
	border: none;
	padding: 0;
}
.everyday-heroes fieldset > label {
	font-weight: bold;
	text-transform: uppercase;
}
.everyday-heroes fieldset :is(input:not([type="checkbox"]), select, .tag-input) {
	flex: 1 0;
	border: none;
	border-radius: 5px;
	padding-inline: 0.5em;
	background-color: var(--eh-background-color-white);
}
.everyday-heroes fieldset input::placeholder {
	color: var(--eh-text-color-placeholder);
}
.everyday-heroes fieldset button {
	border: 1px solid var(--eh-border-color-strong);
	border-radius: 1em;
	background-color: var(--eh-background-color-white);
}
.everyday-heroes fieldset button:disabled {
	border-color: var(--eh-border-color-weak);
}
.everyday-heroes fieldset button:not(:disabled):hover {
	box-shadow: inset 0 0 5px var(--color-shadow-primary);
}
.everyday-heroes fieldset > .fields {
	display: flex;
	gap: 0.25em;
}

.everyday-heroes fieldset .tag-input {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	padding-inline: 0.25em;
	padding-block: 0.25em;
}
.everyday-heroes fieldset .tag-input > .tag {
	background-color: var(--eh-tag-color-property);
	border-radius: 3px;
	padding-inline: 0.5em;
}
.everyday-heroes fieldset .tag-input > .tag > [data-action="delete"] {
	opacity: 75%;
	padding-inline-start: 0.25em;
}
.everyday-heroes fieldset .tag-input > input {
	flex: 1 0 3em;
	width: unset;
	min-width: 3em;
	margin: -0.25em;
	margin-inline-end: 0;
}
