.everyday-heroes.item.application {
	gap: 0;

	.window-content { gap: var(--spacer-16); }

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Header                                   */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	.item-header {
		display: grid;
		grid-template-columns: 128px auto min-content;

		> .image {
			grid-column: 1;
			border: 1px solid var(--eh-border-color-strong);
			border-radius: 20px 0 0 20px;
			background-color: var(--eh-background-color-dark);
			overflow: clip;
		}

		> .fields {
			background-color: var(--eh-background-color-mid);
			border: 1px solid var(--eh-border-color-strong);
			border-inline-start: none;
			border-bottom-right-radius: 20px;
			gap: 4px;
			grid-column: 2;
			padding: 0.5em;
			z-index: 1;

			.form-group {
				> label { flex: 0; }
				input, select {
					border-radius: 8px;
					font-size: var(--font-size-18);
				}
			}
		}

		> nav {
			--tab-border-radius: 10px;

			align-items: stretch;
			border: none;
			justify-content: flex-start;
			flex-direction: column;
			gap: 0;
			grid-column: 3;
			margin-inline-start: -10px;

			button {
				display: block;
				border: 1px solid var(--eh-border-color-weak);
				border-radius: 0;
				outline: 1px solid transparent;
				outline-offset: -2px;
				padding-block: 0.35rem;
				padding-inline: 20px 10px;
				background-color: var(--eh-background-color-mid);
				text-align: center;

				&.active {
					background: var(--eh-background-color-dark);
					color: var(--eh-text-color-white);
				}
				&.active, &:focus {
					box-shadow: none;
					text-shadow: none;
				}
				&:focus-visible { outline: 1px solid var(--eh-button-focus-color); }
				&:first-of-type { border-start-end-radius: var(--tab-border-radius); }
				&:last-of-type {
					border-end-start-radius: var(--tab-border-radius);
					border-end-end-radius: var(--tab-border-radius);
				}
			}
		}
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Sections                                 */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	section:where(.tab:not(.transparent)) {
		flex: 1;
		--section-background: var(--eh-background-color-mid);
		--section-border: 1px solid var(--eh-border-color-strong);
		--section-border-radius: 10px;

		&:not(.multiple), &.multiple > div {
			background-color: var(--section-background);
			border: var(--section-border);
			border-radius: var(--section-border-radius);
			padding: 0.5em;
			overflow: clip;
		}
		&.active.contents {
			display: contents;
		}
	}

	section:where(.tab.transparent) {
		gap: 0;
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Advancement                              */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	[data-tab="advancement"] {
		.advancement {
			display: grid;
			grid-template-columns: subgrid;
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				grid-column: 1 / -1;
				display: grid;
				grid-template-columns: subgrid;
				margin: 0;

				&.primary-header {
					padding: 1em;

					[data-action="addDocument"] {
						grid-column: 2;
						justify-self: flex-end;
					}
				}
				&.section > .document-list-header {
					grid-column: 1 / -1;
					display: grid;
					grid-template-columns: subgrid;
					align-items: first baseline;
					margin: 0 -1px;

					h3 {
						grid-column: 1 / -2;
						margin: 0;
						border: none;
						padding: 0;
					}
				}
				.summary {
					flex: 1 0 100%;
					display: flex;
					flex-wrap: wrap;
					gap: 4px;
					margin: 0.25em;
					padding-inline: 2em;
				}
			}
		}

		.level-list {
			grid-template-columns: minmax(0, auto) minmax(0, max-content);
			border: 1px solid var(--eh-border-color-weak);
			border-radius: 10px;
			background-color: var(--eh-background-color-light);
		}

		.advancement-list {
			grid-column: 1 / -1;
			gap: 0.2em;
			margin: 0.5em;

			> li {
				margin-inline: -0.5em;
				padding-inline-end: 1em;
			}
		}
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Description                              */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	[data-tab="description"] {
		--section-background: var(--eh-background-color-white);
		--section-border: 2px solid var(--eh-border-color-strong);
		--section-border-radius: 20px;
		gap: 0;

		prose-mirror { flex: 1; }
		footer {
			margin: -0.5em;
			margin-block-start: 0.5em;
			padding: 0.5em 1em;
			background-color: var(--eh-background-color-light);

			.form-group {
				--input-height: 1rem;
				font-size: var(--font-size-11);
				label { flex: 0; }
			}
		}
	}

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Details                                  */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
	/*  Effects                                  */
	/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
}
