/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Configuration Links                      */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes a[data-action="config"] {
	float: right;
	color: var(--eh-config-color);
	font-size: var(--font-size-13);
}
.everyday-heroes a[data-action="config"]:hover {
	text-shadow: 0 0 8px var(--eh-config-color);
}
.everyday-heroes :is(label, legend) a[data-action="config"] {
	margin-inline-start: 0.25em;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Enrichers                                */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

a.roll-link {
	background: #DDD;
	padding: 1px 4px;
	border: 1px solid var(--color-border-dark-tertiary);
	border-radius: 2px;
	white-space: nowrap;
	word-break: break-all;
}
a.roll-link i {
	color: var(--color-text-dark-inactive);
	margin-inline-end: 0.25em;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Item Tags                                */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes ul.item-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: var(--font-size-12);
}
.everyday-heroes ul.item-tags li {
	border: 1px solid var(--eh-border-color-weak);
	border-radius: 5px;
	padding-inline: 0.5em;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
.everyday-heroes ul.item-tags li.type {
	background-color: var(--eh-tag-color-type);
}
.everyday-heroes ul.item-tags li.detail {
	background-color: var(--eh-tag-color-detail);
}
.everyday-heroes ul.item-tags li.property {
	background-color: var(--eh-tag-color-property);
}
.everyday-heroes ul.item-tags li.negative.status {
	background-color: var(--eh-tag-color-status-negative);
}
.everyday-heroes ul.item-tags li.positive.status {
	background-color: var(--eh-tag-color-status-positive);
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Striped Headers                          */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes .striped:is(h1, h2, h3, h4) {
	display: flex;
	border: none;
	background-color: var(--eh-background-color-white);
	color: var(--eh-text-color-white);
}
.everyday-heroes .striped:is(h1, h2, h3, h4) .stripes {
	flex-grow: 1;
}
.everyday-heroes .striped:is(h1, h2, h3, h4) .center {
	padding-inline: 0.5em;
	background-color: black;
}
.everyday-heroes .striped:is(h1, h2, h3, h4) select {
	border: none;
	color: var(--eh-text-color-white);
	text-align: center;
}
.everyday-heroes section > .striped:is(h1, h2, h3, h4) {
	margin-inline: -0.5em;
}
.everyday-heroes section > .striped:is(h1, h2, h3, h4):first-child {
	margin-block-start: -0.5em;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Property Tooltips                        */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.property-hint {
	cursor: help;
	text-decoration: underline;
	text-decotration-style: dotted;
}
