/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Item Tags                                */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes ul.item-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 3px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: var(--font-size-12);
}
.everyday-heroes ul.item-tags li {
	border: 1px solid var(--eh-border-color-weak);
	border-radius: 5px;
	padding-inline: 0.5em;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
.everyday-heroes ul.item-tags li.type {
	background-color: var(--eh-tag-color-type);
}
.everyday-heroes ul.item-tags li.property {
	background-color: var(--eh-tag-color-property);
}
.everyday-heroes ul.item-tags li.negative.status {
	background-color: var(--eh-tag-color-status-negative);
}
.everyday-heroes ul.item-tags li.positive.status {
	background-color: var(--eh-tag-color-status-positive);
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Property Lists                           */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes .properties {
	display: grid;
	border: 1px solid var(--eh-border-color-strong);
	border-radius: 4px;
	background-color: var(--eh-background-color-black);
	color: var(--eh-text-color-white);
	font-size: var(--font-size-14);
	font-variant: small-caps;
}
.everyday-heroes .properties > fieldset {
	margin: 1px;
	border-radius: 4px;
	background-color: var(--eh-background-color-dark);
}
/* .everyday-heroes .properties > fieldset:has([checked]) { */
.everyday-heroes .properties > fieldset.checked {
	background-color: var(--eh-background-color-light);
	color: var(--eh-text-color-black);
}
.everyday-heroes .properties > fieldset label {
	display: flex;
	align-items: center;
	gap: 0.25em;
	padding-inline-end: 0.5em;
}
.everyday-heroes .properties > fieldset input {
	appearance: none;
	border: 1px solid var(--eh-border-color-strong);
	border-radius: 50%;
	background-color: var(--eh-background-color-white);
	filter: none;
}
.everyday-heroes .properties > fieldset input[checked] {
	background-color: var(--eh-input-color-checked);
}
.everyday-heroes .properties > fieldset :is(label, input) {
	cursor: pointer;
}

/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/*  Striped Headers                          */
/* ~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~ */

.everyday-heroes .striped:is(h1, h2, h3, h4) {
	display: flex;
	border: none;
	background-color: var(--eh-background-color-white);
	color: var(--eh-text-color-white);
}
.everyday-heroes .striped:is(h1, h2, h3, h4) .stripes {
	flex-grow: 1;
}
.everyday-heroes .striped:is(h1, h2, h3, h4) .center {
	padding-inline: 0.5em;
	background-color: black;
}
