:root {
	--eh-background-color-black: rgb(28, 31, 31);
	--eh-background-color-dark: rgb(119, 125, 126);
	--eh-background-color-mid: rgb(207, 210, 205);
	--eh-background-color-light: rgb(244, 244, 240);
	--eh-background-color-blue: rgb(15, 20, 62);
	--eh-background-color-white: rgb(255, 255, 255);
	--eh-background-color-failure: rgb(255, 217, 215); /* lch(90%, 10%, 25%) */
	--eh-background-color-success: rgb(217, 231, 202); /* lch(90%, 10%, 125%) */
	--eh-background-color-read-aloud: rgb(230, 230, 239);

	--eh-border-color-strong: rgb(0, 0, 0);
	--eh-border-color-weak: rgba(0, 0, 0, 0.5);
	--eh-border-color-read-aloud: rgb(60, 71, 122);

	--eh-config-color: rgb(255, 59, 59);

	--eh-dice-color-critical-failure: rgb(231, 25, 0); /* lch(50%, 75%, 50%) */
	--eh-dice-color-critical-success: rgb(0, 140, 0);  /* lch(50%, 75%, 120%) */
	--eh-dice-color-failure: rgb(152, 0, 0);           /* lch(25%, 75%, 50%) */
	--eh-dice-color-success: rgb(0, 75, 0);            /* lch(25%, 75%, 120%) */

	--eh-input-color-add: rgb(136, 255, 118);
	--eh-input-color-remove: rgb(255, 118, 118);
	--eh-input-color-disabled: rgb(75, 73, 155);
	--eh-input-color-disabled-checked: rgb(109, 176, 90);

	--eh-tag-color-type: rgb(230, 230, 220);
	--eh-tag-color-detail: rgb(255, 252, 233);
	--eh-tag-color-property: rgb(225, 225, 255);
	--eh-tag-color-status-negative: rgb(255, 225, 225);
	--eh-tag-color-status-positive: rgb(225, 255, 225);

	--eh-text-color-black: rgb(0, 0, 0);
	--eh-text-color-placeholder: rgb(128, 128, 128);
	--eh-text-color-red: rgb(199, 55, 61);
	--eh-text-color-white: rgb(255, 255, 255);
	--eh-text-color-character-quote: rgb(23, 33, 94);

	--eh-sheet-backdrop-filter: blur(2px) brightness(200%) contrast(65%) saturate(50%) blur(4px);
	--eh-sheet-content-background: none;
	--eh-sheet-window-background: none;
}
